*.xml filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
C:/SEMESTER_6/capstone_sml/results/models/backbone_0/mvtec_capsule/ckpt_best_56.pth filter=lfs diff=lfs merge=lfs -text
C:/SEMESTER_6/capstone_sml/results/models/backbone_0/mvtec_carpet/ckpt_best_431.pth filter=lfs diff=lfs merge=lfs -text
C:/SEMESTER_6/capstone_sml/results/models/backbone_0/mvtec_grid/ckpt_best_581.pth filter=lfs diff=lfs merge=lfs -text
C:/SEMESTER_6/capstone_sml/results/models/backbone_0/mvtec_leather/ckpt_best_119.pth filter=lfs diff=lfs merge=lfs -text
C:/SEMESTER_6/capstone_sml/results/models/backbone_0/mvtec_metal_nut/ckpt_best_5.pth filter=lfs diff=lfs merge=lfs -text
C:/SEMESTER_6/capstone_sml/results/models/backbone_0/mvtec_screw/ckpt_best_139.pth filter=lfs diff=lfs merge=lfs -text
C:/SEMESTER_6/capstone_sml/results/models/backbone_0/mvtec_tile/ckpt_best_369.pth filter=lfs diff=lfs merge=lfs -text
C:/SEMESTER_6/capstone_sml/results/models/backbone_0/mvtec_toothbrush/ckpt_best_543.pth filter=lfs diff=lfs merge=lfs -text
C:/SEMESTER_6/capstone_sml/results/models/backbone_0/mvtec_transistor/ckpt_best_52.pth filter=lfs diff=lfs merge=lfs -text